
.container {
    background-color: rgb(200, 39, 200);
    background-size: cover;
    color: azure;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    color: azure;
    border: 10px;
    border-radius: 40px;
    margin-left: 40px;
}


.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: azure;
}

.links2 {
    display: flex;
    list-style: none;
    gap: 20px;
}

.links2 a {
    text-decoration: none;
    color: azure;
}

.hero {
    text-align: center;
    padding-bottom: 40px;
}

.hero p {
    font-size: x-small;
}

.hero button {
    border-radius: 30px;
    color: azure;
    background-color: palevioletred;
    padding: 20px;
    border: none;
}

.courses {
    text-align: center;
    margin-top: 10px;
}

.courses p {
    font-size: x-small;
    margin-bottom: 0px;
}

.imagebox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image {
    width: 300px;
}

.courses a {
    text-decoration: none;
    color: palevioletred;
    margin-top: 100px;
}